<script src="/javascripts/players.js"></script>
<script src="/javascripts/moves.js"></script>
<script src="/javascripts/board.js"></script>
<script src="/javascripts/game.js"></script>

<div id="page">
  <div id="pageHeader">
    <div id="pageHeaderLeft"></div>
    <div id="pageHeaderCenter"></div>
    <div id="pageHeaderRight"></div>
    <div class="clear"></div>
  </div>
  <div id="pageContent">
    <div id="rightPanel">
      <h3>Players</h3>
      <div id="players">
        <div id="playerw">
          <img class="turnIndicator" src="/images/icons/transparent.png" /><img src="/images/icons/w-small.png" />
          <span class="playerName">(Empty)</span>
          <img class="playerJoin" src="/images/icons/play.png" style="display: none;" title="Join" />
          <img class="playerLeave" src="/images/icons/leave.png" style="display: none;" title="Leave" />
          <img class="playerComputer" src="/images/icons/computer.png" style="display: none;" title="Computer" />
          <img class="playerLoading" src="/images/icons/loading.gif" style="display: none;" title="Thinking" />
          <ul class="playerComputers" style="display: none;">
            <li>shabah</li>
            <li>random</li>
            <li>vandale</li>
            <li>omko</li>
            <li>deadly</li>
          </ul>
        </div>
        <div id="playerb">
          <img class="turnIndicator" src="/images/icons/transparent.png" /><img src="/images/icons/b-small.png" />
          <span class="playerName">(Empty)</span>
          <img class="playerJoin" src="/images/icons/play.png" style="display: none;" title="Join" />
          <img class="playerLeave" src="/images/icons/leave.png" style="display: none;" title="Leave" />
          <img class="playerComputer" src="/images/icons/computer.png" style="display: none;" title="Computer" />
          <img class="playerLoading" src="/images/icons/loading.gif" style="display: none;" title="Thinking" />
          <ul class="playerComputers" style="display: none;">
            <li>shabah</li>
            <li>random</li>
            <li>vandale</li>
            <li>omko</li>
            <li>deadly</li>
          </ul>
        </div>
      </div>
      <br />
      <h3>Moves</h3>
      <div id="moves"></div>
    </div>
    <table id="board">
      <% 12.times do |w| %>
        <% i = w - 1 %>
        <tr>
          <% 12.times do |v| %>
            <% u = v - 1 %>
            <% if w == 0 or w == 11 %>
              <td valign="<%= w == 0 ? 'bottom' : 'top' %>" align="center" class="label">
                <% unless v == 0 or v == 11 %>
                  <%= (97 + u).chr %>
                <% end %>
              </td>
            <% elsif v == 0 or v == 11 %>
              <td align="<%= v == 0 ? 'right' : 'left' %>" valign="middle" class="label">
                <% unless w == 0 or w == 11 %>
                  <%= i + 1 %>
                <% end %>
              </td>
            <% else %>
              <td class="<%= (i+u) % 2 == 0 ? 'dark' : 'light' %>" id="cell<%= "0#{i}"[0..1] %><%= "0#{u}"[0..1] %>"></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
  Event.observe(window, 'load', function () {
    board.state = <%= @game.state.to_json %>;
    moves.movesArray = <%= @game.moves.to_json %>;
    players.info = <%= filter_players(@game.players).to_json %>;
    players.myColor = <%= @game.players.find { |k, v| v == @identifier }.to_a[0].to_json %>;
    players.winner = <%= @game.winner.to_json %>;
    game.setup();
  });
</script>
